.InterViewerDetails{
    width: 100%;
    height: 100%;
}

.detailsFeild{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 60%;
}

.detailsFeild .inputFeild{
    width: 100%;
    font-size: 30px;
}